<!--<div class="container" style="background-color: #e3f2fd;">-->
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    style="background-color: #cae7fc;">
      <h2 style="margin-right:720px; font-style:oblique; color:#1E90FF; ">ANX Book BLog</h2>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Show</a></li>

        <li class="nav-item"><a href="/posts" class="nav-link">Manage</a></li>
        <li class="nav-item"><a href="/upload" class="nav-link">Upload</a></li>
        <li class="nav-item"><a href="/email" class="nav-link">Email</a></li>

      </ul>
    </header>
<!--  </div>-->