{% extends 'employee/base.html' %}

{% block content %}

<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">Post Administration</div>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'employee:add' %}">Add new</a>
            </li>
        </ul>
    </div>
</nav>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h4 class="lead"><a class="text-dark" href="{% url 'employee:single' post.pk %}">{{ post.title }}</a> </h4>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{post.get_absolute_url }}" class="btn btn-sm btn-outline-primary" role="button" aria-pressed="true">View</a>
                                <a href="{% url 'employee:edit' post.pk %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Edit</a>
                                <a href="{% url 'employee:delete' post.pk %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">Delete</a>
                            </div>


                            <small class="text-muted">{{ employee.published }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}