{% extends 'employee/base.html' %}
  {% block content %}
    {% if messageSent %}
    <div class="container" style="border-radius: 10px; border: 2px solid #1E90FF;">

      <h3><strong>Email successfully sent</strong></h3>
      <p>Your message was successfully sent </p>
    </div>
    {% else %}
    <div class="container">
      <h3 style="border-radius: 10px; border: 2px solid #1E90FF;"><strong>Send E-mail</strong></h3>

      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <br />
        <div class="text-center">
          <input
            type="submit"
            class="btn btn-secondary"
            style="width: 100%"
            value="Send e-mail"
          />
        </div>
      </form>
    </div>
    {% endif %}
 {% endblock %}
